*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: #181111c5;
    color: white;
}
.hero:hover{
    background: black;
}
.hero h1{
    font-size: 3rem;
    color: whitesmoke;
}
.hero button{
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background: whitesmoke;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    width: 150px;
}
.hero button:hover{
    background: black;
    color: whitesmoke;
}

.provisoire{
    display: flex;
    margin: auto;
    gap: 1%;
    padding: 1%;
    box-shadow: 0px -9px 20px -3px rgba(0,0,0,0.75);
}
.provisoire1{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 70%;
    margin: auto;
    gap: 1%;
    padding: 1%;
    background-color: whitesmoke;
    
}
.provisoire2{
    width: 30%;
    margin: auto;
    gap: 1%;
    padding: 1%;
    background-image: url(images/mannequin1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    height: 100vh;
    margin-top: 0.1vh;
    text-align: center;
    align-items: center;
    
}
.provisoire2 h2{
    font-size: 2rem;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.provisoire2:hover{
    font-size: 1.2rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border: 1px solid #e0e0e0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    box-shadow: 0px -9px 20px -3px rgba(0,0,0,0.75);
   

}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card button{
    padding: 10px 20px;
    border: none;
    background: green;
    color: white;
    font-size: 1.rem;
    cursor: pointer;
    width: 50%;
    margin: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
}
.card button:hover{
    background: black;
    color: whitesmoke;
}
.card:hover{
    border: 0.5rem solid;
    border-color:red
}
/* Path: image rond.css */
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 400px;
    background: linear-gradient(to bottom , blue 50%, white 50%); /*Ici, 50% du haut sera bleu, et 50% du bas sera blanc.*/
    box-shadow: 0px -9px 20px -3px rgba(0,0,0,0.75);
    margin: 0 auto;
    margin-top: 15px;
    position : relative;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(images/mannequin1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    position: absolute;
    border: 5px solid white;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

